* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
a{
    display:block
}
.root-header, .list-header, h1{
    color: orange; 
    background-color: black;
}
.recipe-list, ul, ol{
    color: black;
    background-color: yellow; 
}

