* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.root-header, .list-header, h1{
    color: red; 
    background-color: black;
}
.recipe-list, ul, ol{
    color: black;
    background-color: yellow; 
}

